* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
}

.header__inner {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.header-menu {
  margin-right: auto;
}

.menu__list {
  display: flex;
  list-style: none;
  margin-left: 100px;
  gap: 40px;
}

.header-search { 
  padding: 6px;
  margin-right: 60px; 
  width: 200px;
}
